$mainFont: 'Open Sans', sans-serif;
$headerFont: 'Dancing Script', cursive;
$headerBgimageSmall: url('../images/layout/mwanza.png');
$headerBgimageMedium: url('../images/layout/mwanza.png');
$headerBgimageBig: url('../images/layout/mwanza.png');
$visionBgimageSmall: url('../images/layout/vision.png');
$visionBgimageMedium: url('../images/layout/vision.png');
$visionBgimageBig: url('../images/layout/vision.png');
$colorMain: #c1cde1;
$colorFont: #04102d;
$colorBackgroundDark: #4187da;
$colorBackgroundLight: #a4b3d2;
$colorBackgroundDeepDark: #071f56;
$colorFontLight: #c1cde1;
