@import 'layout';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-size: 1.6rem;
  //background-color: #fff;
}

h1, h2, h3 {
  font-family: $headerFont;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #666;
  font-weight: bold;
}
.shadow{
  width: 100%;
  height: 100%;
  position: absolute;
  //z-index:-5;
}

.shadow{
  background-color: linear-gradient 45deg(rgba(20, 105, 241, .6) rgba(80, 55, 120, .6));
  //z-index: 100000;
}

//.headers {
//  font-family: $headerFont;
//  letter-spacing: 2px;
//  padding: 1em .25em;
//  text-shadow: 2px 2px 3px #666;
//  font-weight: bold;
//
//}
.header {
  display: flex;
  flex-direction: column;
  //background-image: $headerBgimageSmall;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  //z-index: 1000;

  &__title {
    font-size: 2.6rem;
  }

  &__text {
    font-size: 2.2rem;
    padding: 1em .5em;
    font-weight: bold;
  }
}

.navbar {
  width: 100%;
  justify-content: center;
  //z-index: 100;
  padding: .5em 0  ;

  &__list {

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

  }

  &__link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 1em .5em;
    font-size: 1.6rem;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5em .5em;
  }
}

.article {
  display: flex;
  flex-direction: column;

}

.section {

  &__title {
    text-align: center;
    font-size: 2.2rem;
  }

  &__img {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5em;
  }

  &__text {
    font-size: 1.8rem;
    padding: .5em;
    letter-spacing: 2px;
  }

  &__link {
    text-decoration: none;
    font-size: 1.8rem;
    padding: .5em;
  }

  &__icon {
    width: 2.4em;
  }
}

.people {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__name {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: 1.8rem;
  }

  &__text {
    display: block;
    width: 100vw;
    left: 0;
    font-size: 1.2rem;
    padding: .5em;
    letter-spacing: 2px;
  }

  &__img {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: .5em;
  }
}

.sponsors {
  &__content {
    &_img {
      justify-content: center;
      align-items: center;
      width: 100vw;
      padding: .5em;
    }
  }
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: #aaa;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  &__paragraph {
    padding: .5em .25em;
    text-align: center;
  }

  &_bold {
    font-weight: bold;
  }

  &_link {
    padding: .5em .25em;
    cursor: pointer;
  }
}
