*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  background-image: url('../../src/images/layout/mwanza.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10;

  &__title {
    font-size: 2.8rem;
    padding: .5em .25em;
    font-weight: bold;
    text-shadow: 2px 2px 3px #999;
  }

  &__paragraph {
    font-size: 2.2rem;
    padding: .5em .25em;
  }
}

.navbar {
  background-color: rgb(204, 204, 204, 0.6);
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__list {
    display: flex;
    flex-direction: row;
    padding: .5em .25em;
    list-style: none;
    justify-content: space-evenly;

    &_item {
      font-size: 1.2rem;
      font-weight: bold;
    }

    &_link {
      text-decoration: none;
      color: #000;
    }
  }
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .5em 0 3em 0;
  background-color: #bbb;
}

.section {
  &__img {
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: .5em;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
  }

  &__text {
    font-size: 1.8rem;
    padding: .5em;
    letter-spacing: 2px;
  }
}

.people {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;

    &_name {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100vw;
      font-size: 1.8rem;
    }

    &_text {
      display: block;
      width: 100vw;
      font-size: 1.2rem;
      padding: .5em;
      letter-spacing: 2px;
    }

    &_img {
      justify-content: center;
      align-items: center;
      width: 50vw;
      padding: .5em;
    }
  }
}

.sponsors {
  &__content {
    &_img {
      justify-content: center;
      align-items: center;
      width: 100vw;
      padding: .5em;
    }

    &_name {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100vw;
      font-size: 1.8rem;
    }

    &_text {
      display: block;
      width: 100vw;
      font-size: 1.2rem;
      padding: .5em;
      letter-spacing: 2px;
    }
  }
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: #aaa;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  &__paragraph {
    padding: .5em .25em;
    text-align: center;
  }

  &_bold {
    font-weight: bold;
  }

  &_link {
    padding: .5em .25em;
    cursor: pointer;
  }
}
