@import 'layout';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-size: 1.6rem;
  background-color: $colorMain;
  color: $colorFont;
}

h1, h2, h3 {
  font-family: $headerFont;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px $colorFontLight;
  font-weight: bold;
}

//.headers {
//  font-family: $headerFont;
//  letter-spacing: 2px;
//  padding: 1em .25em;
//  text-shadow: 2px 2px 3px #666;
//  font-weight: bold;
//
//}
.header {
  display: flex;
  flex-direction: column;
  background-image: $headerBgimageSmall;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__title {
    font-size: 2.6rem;
    z-index: 200;
  }

  &__text {
    font-size: 2.2rem;
    padding: 1em .5em;
    font-weight: bold;
    z-index: 200;
  }
}

.navbar {
  width: 100%;
  justify-content: center;
  z-index: 100;
  padding: .5em 0;
  background-color: $colorBackgroundDeepDark;

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    padding: 1em .5em;
    font-size: 1.2rem;
    color: $colorMain;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5em .5em;
  }
}

.article {
  display: flex;
  flex-direction: column;
  padding: 0 0 3em;
}

.section {
  &__title {
    text-align: center;
    font-size: 2.2rem;
    padding: 1em 0 .5em;
  }

  &__img {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5em;
  }

  &__text {
    font-size: 1.8rem;
    padding: .5em;
    letter-spacing: 2px;
    margin: .5em;
  }

  &__link {
    text-decoration: none;
    font-size: 1.8rem;
    padding: .5em;
  }

  &__icon {
    width: 2.4em;
  }
}

.people {
  display: flex;
  flex-direction: column;

  &__card {
    perspective: 600px;
    display: flex;
    flex-direction: row;
    border: 1px solid $colorBackgroundDark;
    border-radius: 8px;
    margin: .25em;
    overflow: hidden;
    background-color: $colorBackgroundDark;
    position: relative;
  }

  &__card:nth-child(odd) {
    flex-direction: row-reverse;
    background-color: $colorBackgroundLight;
  }

  &__foto {
    display: flex;
    //padding: .5em;
    //margin: .25em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_upside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: .5em;
      width: 50%;
    }

    &_downside {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: 1.8rem;
  }

  &__text {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: .5em;
    letter-spacing: 2px;

    &_short {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: .5em;
      letter-spacing: 1px;
    }
  }

  &__img {
    justify-content: center;
    align-items: center;
    width: 100%;
    //padding: .5em;
    //overflow: hidden;
  }
}

.sponsors {
  &__content {
    &_img {
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: .5em;
    }
  }
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: $colorBackgroundDeepDark;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;

  &__paragraph {
    padding: .5em .25em;
    text-align: center;
    color: $colorMain;
  }

  &_bold {
    font-weight: bold;
  }

  &_link {
    padding: .5em .25em;
    cursor: pointer;
    color: $colorMain;
  }
}
